@media screen and (max-width: 1200px) {
	html {
		body {
			.main_wrapper {
				.declaration_hdr {
					.hdr_container {
						.header_row {
							.content_cols {
								width: 33.32%;
								.content_row {
									.ate {
										
										.comp_logo {
											img {
												
											}
										}
									}
									.teraspin {
										
									}
								}
							}
							.login_button {
								margin-top: 8px;
							}
							.client {
								width: 58.31%;
								.title_row {
									.title {
										font-size: 23px;
										margin-top: 15px;
									}
									.desc {
										text-align: center;
										font-size: 14px;
		    							margin-top: 21px;
									}
									.title_img {
										img {
											width: 130px;
										}
									}
								}
							}
							.login_button {
								margin-top: 16px;
							}
						}
					}
				}
				#fullpage {
					.slide_1 {
						.slider_body_container {
							.slider_container {
								.slides {
									.left_space {
										margin-left: 3%;
									}
									.individual_slide {
										.slide_content {
											.slide_left {
												left: 0;
											}
										}
									}
								}
							}
						}
						.slider_body_footer {
							.footer_container {
								.logo_contr {
									.env_logo {
										left: 466px;
									}
									.globe {
										left: 472px;
									}
								}
							}
						}
					}
					.slide_3 {
						.client_slider {
							.client_container {
								.client_descrbr {
									.about_client {
										padding-left: 20px;
									}
								}
							}
						}
						.social_ftr {
							.ftr_container {
								.ftr_row {
									.ftr_info {

									}	
									.ftr_icons {
										.info_para {
											
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	html {
		body {
			.main_wrapper {
				.declaration_hdr {
					.hdr_container {
						.header_row {
							.content_cols {
								.content_row {
									.ate {
										width: 46%;
										.comp_logo {
											img {
												width: 100px;
											}
										}
									}
									.teraspin {
										width: 52%;
										.client_logo {
											img {
												width: 120px;
											}
										}
									}
								}
							}
							.client {
								.title_row {
									.title {
										margin-top: 15px;
										font-size: 16px;
										text-align: left;
									}
									.desc {
										text-align: left;
										margin-top: 18px;
										font-size: 11px;
									}
									.title_img {
										margin-top: 4px;
									}
								}
							}
							.login_button {
								margin-top: 8px;
							}
						}
					}
				}
				#fullpage {
					.slide_1 {
						.slider_body_container {
							.slider_container {
								.slides {
									.left_space {
										margin-left: 2%;
									}
									.individual_slide {
										.slide_content {
											height: 280px;
											.slide_left {
												width: 22px;
		    									height: 60px;
		    									left: 0;
		    									top: 110px;
		    									.icon_custom {
		    										top: 35%;
    												left: 30%;
		    									}
											}
											.eco_container {
												height: 100%;
												.energy_title {
													font-size: 16px;
												}
												.energy_image {
													left: 39.5%;
												}
												.carousel {
													.carousel-inner {
														.item {
															.energy_description {
																.eng_type {
																	width: 170px;
																	height: 170px;
																	.eng_type_container {
																		width: 55%;
																		height: 130px;
																		padding-top: 25px;
																		.eng_amt_curr_yr {
																			font-size: 30px;
																		}
																		.unit {
																			font-size: 15px;
																		}
																	}
																	.eng_indicator {
																		height: 40px;
																		padding-top: 12px;
																	}
																	.eng_amount {
																		width: 75px;
		    															height: 75px;
		    															right: 8%;
		    															bottom: 17%;
		    															padding-top: 15px;
		    															.amount_spec_contr {
		    																.amount_spec {
		    																	font-size: 15px;
		    																}
		    																.period {
		    																	font-size: 9px;
		    																}
		    															}
																	}
																}
															}
														}
													}
												}
											}
											.slide_right {
												width: 22px;
		    									height: 60px;
		    									top: 110px;
		    									.icon_custom {
		    										top: 35%;
    												left: 30%;
		    									}
											}
										}
									}	
								}
							}
						}
						.slider_body_footer {
							.footer_container {
								.ftr_row {
									.env_info {
										.env_info_indv {
											font-size: 13px;
										}
									}
								}
								.logo_contr {
									height: 20px;
									.env_logo {
										left: 360px;
									}
									.globe {
										left: 366px;
									}
								}
							}
						}
					}
					.slide_2 {
						.leader_container {
							padding-bottom: 30px;
							.leader_header {
								font-size: 15px;
							}
							.ldr_spec {
								.leader_img {
									.ldr_img_container {
										.ldr_id {
											width: 120px;
		    								height: 120px;
		    								left: 20%;
		    								.comp_imgs {
		    									width: 120px;
		    									height: auto;
		    								}
										}
										.ldr_name {
											font-size: 15px;
											padding-top: 15px;
										}
									}
								}
								.leader_msg {
									.ldr_speech {
										.ldr_msg_para {
											font-size: 16px;
										}
									}
									.ldr_extra_info {
										a {
											font-size: 16px;
										}
									}
								}
							}
						}
					}
					.slide_3 {
						.client_slider {
							.client_container {
								.client_descrbr {
									.about_client {
										.client_descr {
											.client_header {
												font-size: 15px;
											}
											.client_para {
												font-size: 16px;
											}
										}
									}
									.client_features {
										padding: 20px 50px 0;
										.feature {
											font-size: 15px;
										}
										.feature_container {
											.feature_slider {
												.energy_slide_left {
													left: 40px;
												}
												.energy_slide_right {
													right: 40px;
												}
												.ftrs {
													.ftrs_content {
														.item {
															.ftr_title_container {
																.ftr_title {
																	font-size: 15px;
																}
															}
															.ftr_descr {
																font-size: 16px;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
					.social_ftr {
						.ftr_container {
							.ftr_row {
								.ftr_info {
									font-size: 16px;
									line-height: 25px;
								}
								.ftr_icons {
									.info_para {
										font-size: 16px;
									}
								}
							}
						}
					}
				}
			}
			#logInModal {
				.login_dialog {
					.login_header {
						padding-right: 5%;
					}
					.credential {
						.login_box {
							.input_header {
								font-size: 16px;
							}
							.auth {
								font-size: 18px;
							}
						}
					}
				}
			}
			#ClientModal {
				.read_more_dialog {
					.rm_content {
						.rm_hdr {
							padding-right: 5%;
							.close {
								font-size: 45px;
								margin-top: -10px;
							}
						}
						.more_content {
							font-size: 16px;
						}
					}
				}
			}
			#featureModal {
				.ftr_dialog_popup {
					.ftr_content_popup {
						.ftr_hdr_popup {
							.close {
								font-size: 45px;
								margin-top: -10px;
							}
						}
						.ftr_body_popup {
							padding-right: 5%;
							.popup_img {
								padding: 0 20px 30px;
								.pimg_indv {
									width: 48%;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) and (orientation: portrait) {
	html {
		body {
			.main_wrapper {
				.declaration_hdr {
					.hdr_container {
						padding: 15px;
						.header_row {
							.content_cols {
								width: 55%;
								.content_row {
									.ate {
										.comp_logo {
											img {
												width: 95px;
											}
										}
									}
									.teraspin {
										.client_logo {
											img {
												width: 115px;
											}
										}
									}
								}
							}
							.login_button1 {
								width: 45%;
								padding-right: 20px;
								margin-top: 5px;
							}
							.client {
								width: 100%;
								padding-right: 20px;
								padding-left: 0px;
								.title_row {
									.title {
										text-align: left;
										font-size: 17px;
									}
									.desc {
										text-align: left;
										font-size: 13px;
									}
									.title_img {
										img {
											float: right;
										}
									}
								}
							}
						}
					}
				}
				#fullpage {
					.slide_1 {
						.slider_body_container {
							.slider_container {
								position: relative;
								.slider_btns {
									display: inline-block;
								}
								.slides {
									width: 70%;
								    margin: 0 auto;
								    height: 330px;
								    overflow: hidden;
							    	.individual_slide {
							    	    width: 100%;
	    								height: 330px;
	    								max-height: 370px;
	    								padding-top: 40px;
	    								.slide_content {
	    									max-width: 280px;
	    									height: 370px;
	    									max-height: 370px;
	    									.slide_left {
	    										width: 25px;
	    										height: 70px;
	    									}
	    									.eco_container {
	    										.energy_image {
	    											left: 42%;
	    										}
	    										.carousel {
	    											.carousel-inner {
	    												.item {
	    													.energy_description {
	    														padding-top: 10px;
	    														padding-bottom: 20px;
	    														.eng_type {
	    															width: 200px;
	    															height: 200px;
	    															.eng_type_container {
	    																height: 160px;
	    																padding-top: 40px;
	    																.eng_amt_curr_yr {
	    																	font-size: 35px;
	    																}
	    															}
	    															.eng_amount {
	    																width: 85px;
	    																height: 85px;
	    																padding-top: 20px;
	    																right: 14%;
	    																bottom: 9%;
	    															}
	    														}
	    													}
	    												}
	    											}
	    										}
	    									}
	    									.slide_right {
	    										width: 25px;
	    										height: 70px;
	    									}
	    								}
							    	}
							    	.left_space {
							    		margin-left: 0px;
							    	}
								}
							}
							.vertical_slide_btn {
								display: block;
								padding-left: 5px;
								span {
									display: inline-block;
								}
							}
						}
						.slider_body_footer {
							.footer_container {
								.ftr_row {
									.env_info {
										float: none;
										.env_info_indv {
											text-align: center;
										}
									}
									.video_watch {
										float: none;
										padding-top: 15px;
										text-align: center;
									}
								}
								.logo_contr {
									.env_logo {
										left: 48.1%;
									}
									.globe {
										left: 49%;
									}
								}
							}
						}
					}
					.slide_2 {
						.leader_container {
							padding-bottom: 0px;
							.ldr_spec {
								.leader_img {
									padding: 70px 0 0;
									.ldr_img_container {
										height: 130px;
									    position: relative;
									    background-color: #e0e0e0;
										.ldr_id {
											position: absolute;
	    									top: -50px;
											left: 42%;
										}
										.ldr_name {
											position: absolute;
										    left: 42%;
										    top: 65px;
										    font-size: 17px;
										    letter-spacing: 1px;
										}
									}
								}
								.leader_msg {
									.ldr_extra_info {
										display: block;
										text-align: center;
									}
								}
							}
						}
					}
					.slide_3 {
						.client_slider {
							.client_container {
								padding: 60px 0;
								.client_descrbr {
									overflow: visible;
									.about_client {
										max-width: 600px;
										    width: 75%;
										    margin: 0 auto;
										    float: none;
									}
									.client_features {
										    padding: 0;
										    width: 75%;
										    float: none;
										    margin: 0 auto;
										    max-width: 450px;
										    padding-top: 50px;
										.feature {
											width: 40%;
										}
										.feature_container {
											.feature_slider {
												.ftr_left {
													left: -13px;
													top: 267px;
												}
												.ftr_right {
													right: -8px;
													top: 267px;
												}
												.ftrs {
													.ftrs_content {
														.item {
															.ftr_title_container {
																height: 220px;
															}
															.ftr_descr {
																height: 215px;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
					.social_ftr {
						.ftr_container {
							.ftr_row {
								.ftr_info {
									text-align: center;
	    							font-size: 16px;
								}
								.ftr_icons {
									    padding-top: 10px;
	    								text-align: center;
									.info_para {
										font-size: 16px;
									}
								}
							}
						}
					}
				}
			}
			#logInModal {
				.login_dialog {
					.login_content {
						.credential {
							.login_box {
								.input_header {
									font-size: 14px;
									margin-bottom: 30px;
								}
								.auth {
									width: 70%;
									font-size: 15px;
								}
							}
						}
					}
				}
			}
			#ClientModal {
				.read_more_dialog {
					.rm_content {
						.more_content {
							padding: 10px 30px 60px;
						}
					}
				}
			}
			#featureModal {
				.ftr_dialog_popup {
					.ftr_content_popup {
						.ftr_body_popup {
							padding: 20px;
							.popup_img {
								.pimg_indv {
									width: 100%;
								}
								.right_img {
									float: none;
									margin-top: 30px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) and (orientation: landscape) {
	html {
		body {
			.main_wrapper {
				.declaration_hdr {
					.hdr_container {
						padding: 15px;
						.header_row {
							.content_cols {
								width: 55%;
								.content_row {
									.ate {
										.comp_logo {
											img {
												width: 95px;
											}
										}
									}
									.teraspin {
										.client_logo {
											img {
												width: 115px;
											}
										}
									}
								}
							}
							.login_button1 {
								width: 45%;
								padding-right: 20px;
								margin-top: 5px;
							}
							.client {
								width: 100%;
								padding-right: 20px;
								padding-left: 0px;
								.title_row {
									.title {
										text-align: left;
										font-size: 17px;
									}
									.desc {
										text-align: left;
										font-size: 13px;
									}
									.title_img {
										img {
											float: right;
										}
									}
								}
							}
						}
					}
				}
				#fullpage {
					.slide_1 {
						.slider_body_container {
							.slider_container {
								position: relative;
								.slider_btns {
									display: inline-block;
								}
								.slides {
									width: 70%;
								    margin: 0 auto;
								    height: 330px;
								    overflow: hidden;
							    	.individual_slide {
							    	    width: 100%;
	    								height: 330px;
	    								max-height: 370px;
	    								padding-top: 40px;
	    								.slide_content {
	    									height: 100%;
	    									height: 370px;
	    									max-height: 370px;
	    									.slide_left {
	    										width: 25px;
	    										height: 70px;
	    									}
	    									.eco_container {
	    										.energy_image {
	    											left: 42%;
	    										}
	    										.carousel {
	    											.carousel-inner {
	    												.item {
	    													.energy_description {
	    														padding-top: 10px;
	    														padding-bottom: 20px;
	    														.eng_type {
	    															width: 200px;
	    															height: 200px;
	    															.eng_type_container {
	    																height: 160px;
	    																padding-top: 40px;
	    																.eng_amt_curr_yr {
	    																	font-size: 35px;
	    																}
	    															}
	    															.eng_amount {
	    																width: 85px;
	    																height: 85px;
	    																padding-top: 20px;
	    																right: 14%;
	    																bottom: 9%;
	    															}
	    														}
	    													}
	    												}
	    											}
	    										}
	    									}
	    									.slide_right {
	    										width: 25px;
	    										height: 70px;
	    									}
	    								}
							    	}
							    	.left_space {
							    		margin-left: 0px;
							    	}
								}
							}
							.vertical_slide_btn {
								display: block;
								padding-left: 5px;
								span {
									display: inline-block;
								}
							}
						}
						.slider_body_footer {
							.footer_container {
								.ftr_row {
									.env_info {
										float: none;
										.env_info_indv {
											text-align: center;
										}
									}
									.video_watch {
										float: none;
										padding-top: 15px;
										text-align: center;
									}
								}
								.logo_contr {
									.env_logo {
										left: 48.1%;
									}
									.globe {
										left: 49%;
									}
								}
							}
						}
					}
					.slide_2 {
						.leader_container {
							padding-bottom: 0px;
							.ldr_spec {
								.leader_img {
									padding: 70px 0 0;
									.ldr_img_container {
										height: 130px;
									    position: relative;
									    background-color: #e0e0e0;
										.ldr_id {
											position: absolute;
	    									top: -50px;
											left: 42%;
										}
										.ldr_name {
											position: absolute;
										    left: 42%;
										    top: 65px;
										    font-size: 17px;
										    letter-spacing: 1px;
										}
									}
								}
								.leader_msg {
									.ldr_extra_info {
										display: block;
										text-align: center;
									}
								}
							}
						}
					}
					.slide_3 {
						.client_slider {
							.client_container {
								padding: 60px 0;
								.client_descrbr {
									overflow: visible;
									.about_client {
										max-width: 600px;
										    width: 75%;
										    margin: 0 auto;
										    float: none;
									}
									.client_features {
										    padding: 0;
										    width: 75%;
										    float: none;
										    margin: 0 auto;
										    max-width: 450px;
										    padding-top: 50px;
										.feature {
											width: 40%;
										}
										.feature_container {
											.feature_slider {
												.ftr_left {
													left: -13px;
													top: 267px;
												}
												.ftr_right {
													right: -8px;
													top: 267px;
												}
												.ftrs {
													.ftrs_content {
														.item {
															.ftr_title_container {
																height: 220px;
															}
															.ftr_descr {
																height: 215px;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
					.social_ftr {
						.ftr_container {
							.ftr_row {
								.ftr_info {
									text-align: center;
	    							font-size: 16px;
								}
								.ftr_icons {
									    padding-top: 10px;
	    								text-align: center;
									.info_para {
										font-size: 16px;
									}
								}
							}
						}
					}
				}
			}
			#logInModal {
				.login_dialog {
					.login_content {
						.credential {
							.login_box {
								.input_header {
									font-size: 14px;
									margin-bottom: 30px;
								}
								.auth {
									width: 70%;
									font-size: 15px;
								}
							}
						}
					}
				}
			}
			#ClientModal {
				.read_more_dialog {
					.rm_content {
						.more_content {
							padding: 10px 30px 60px;
						}
					}
				}
			}
			#featureModal {
				.ftr_dialog_popup {
					.ftr_content_popup {
						.ftr_body_popup {
							padding: 20px;
							.popup_img {
								.pimg_indv {
									width: 100%;
								}
								.right_img {
									float: none;
									margin-top: 30px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	body {
		.main_wrapper {
			.declaration_hdr {
				.hdr_container {
					.header_row {
						.content_cols {
							width: 60%;
							.ate {
								zoom: 0.8;
								-moz-transform: scale(.8);
	                            -moz-transform-origin: left top;
							}
							.teraspin {
								zoom: 0.8;
								-moz-transform: scale(.8);
	                            -moz-transform-origin: left top;
							}
						}
						.login_button1 {
							width: 40%;
						}
						.client {
							.title_row {
								.title {
									font-size: 12px;
								}
								.desc {
									font-size: 9px;
									margin-top: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 360px) {
	body {
		.main_wrapper {
			.declaration_hdr {
				.hdr_container {
					padding: 30px 8px;
					.header_row {
						.content_cols {
							width: 80%;
						}
						.login_button1 {
							width: 20%;
						}
						.client {
							.title_row {
								.title {
									font-size: 11px;
								}
								.desc {
									font-size: 8px;
								}
							}
						}
					}
				}
			}																						
		}
	}
}